<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">

	<select parameterType="map" id="consultarItems" resultMap="ItemResult">
		SELECT
		i.id ,
		i.nombre ,
		i.descripcion,
		i.fechalanzamiento  ,
		i.tarifaxdia  ,
		i.formatorenta  ,
		i.genero ,
		ti.id as tipoItem_id,
		ti.descripcion as tipoiItem_descripcion
		FROM VI_ITEMS as i
		left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
	</select>

	<select parameterType="map" id="consultarItem" resultMap="ItemResult">
		SELECT
		i.id ,
		i.nombre ,
		i.descripcion,
		i.fechalanzamiento  ,
		i.tarifaxdia  ,
		i.formatorenta  ,
		i.genero ,
		ti.id as tipoItem_id,
		ti.descripcion as tipoiItem_descripcion
		FROM VI_ITEMS as i
		left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
		WHERE i.id=#{tid};
	</select>

	<insert id="insertarItem" parameterType="map">
		insert into VI_ITEMS (id,nombre,descripcion,fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id) values
		(#{item.id},#{item.nombre},#{item.descripcion},#{item.fechaLanzamiento},#{item.tarifaxDia},#{item.formatoRenta},
		#{item.genero},#{item.tipo.id});
	</insert>

	<resultMap type='Item' id='ItemResult'>
    	<id property='id' column='id'/>
    	<result property='nombre' column='nombre'/>
    	<result property='descripcion' column='descripcion'/>
    	<result property='fechaLanzamiento' column='fechaLanzamiento'/>  
    	<result property='tarifaxDia' column='tarifaxDia'/>
    	<result property='formatoRenta' column='formatoRenta'/>    
    	<result property='genero' column='genero'/>      
    	<association property="tipo" javaType="TipoItem" resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult' columnPrefix='tipoItem_'></association>
	</resultMap>
 
</mapper>